.bg-indigo-900.text-white.text-2xl.px-md-4.py-md-1
    .container-fluid
        .row
            .d-flex.align-content-center 
                i.pi.pi-arrow-left.text-base((click)="goBack()") 
                span.ms-3.text-base {{title}}
            .col-12
                .progress-bar-area(*ngIf="maxActive != 0")
                    ul
                        li(*ngFor="let list of [0,1,2,3]; let i = index", [class.active]="maxActive > i")
