form.ticketForm([formGroup]="startedForm", (ngSubmit)="onFormSubmit()")
    .p-field.mb-2
        span.p-float-label.customDD.mb-0
            p-dropdown.dropDown(inputId='Agent', (onChange)="onChange($event, 'agentName', false)", [autoDisplayFirst]='false', [options]="agentList",[filter]="true", filterBy="agentName", optionLabel='agentName',formControlName="agentName")
            label Select Agent

    .arogyabtnwrap.text-center
        button.btnPrimary.btnbold.mBottom(type='submit', label='Proceed') Proceed
